.learning2
  %div{ :style => "margin: 4px 8px;" }
    %span.tith2
      = t 'education.learn'
  %table{ :style => "margin-bottom: 6px; width: 97%;", :align => "center", :border => "0" }
    %tbody
      %tr
        %td
          \-
          %a{ :href => "/jm/ml.faqs.portalFaqs.FaqsController?axn=verFaq&amp;faqId=2400&amp;categId=BUY" }
            = t 'education.how_to_buy'
          %br
          \-
          %a{ :href => "p_loadhtml?as_menu=CSEG&amp;as_html_code=CSEG03" }
            = t 'education.advices'
        %td
          \-
          %a{ :href => "p_loadhtml?as_menu=M06S00&amp;as_html_code=MERCADOLIBRE_SEGURO" }
            = t 'education.why_ml'
          %br
          \-
          %a{ :href => "/jm/ml.faqs.portalFaqs.FaqsController?axn=verFaq&amp;faqId=2403&amp;categId=AFBUY" }
            = t 'education.how_pay'
          %br
%br
%br
