.volver.clearfix
  %span
    %a{ :href => "#" }
      Ir al listado
  %ul.migas.clearfix
    - for category in @categories
      - if !category.category.nil?
        %li.primeraMiga
          %a{ :href => "#" }
            = category.name
      - else
        %li
          %a{ :href => "#" }
            = category.name
#vip_header.recuadro.clearfix.vip
  %h1#tituloPpal
    = h @item.title
  #galeria
    %img#imgPrincipal{ :src => "http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_2330.jpg&v=L", :alt => "" }
    %noscript
      %style{ :type => "text/css" }
        \#galeria{overflow-y:scroll; overflow-x:hidden;}
        \.thumb{display:none;}
      %img{ :src => "http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_9415.jpg&v=O", :alt => "" }
      %img{ :src => "http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_266.jpg&v=O", :alt => "" }
      %img{ :src => "http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_2330.jpg&v=O", :alt => "" }
      %img{ :src => "http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_9415.jpg&v=O", :alt => "" }
      %img{ :src => "http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_266.jpg&v=O", :alt => "" }
  #contenidoDatos
    %dl.datosProducto
      %dt
        Precio:
      %dd
        %span.pesos
          U$S
          = @item.price
        %sup.centavos
          00
        %span.estado
          (Articulo nuevo)
      %dt
        Cuotas:
      %dd.planCuotas
        %p
          %span.pesos
            U$S 85
          %sup.centavos
            00
        %ul
          %li
            %img{ :alt => "Visa", :src => "/img/visa.gif" }
          %li
            %img{ :alt => "Master", :src => "/img/master.gif" }
          %li
            %img{ :alt => "Amex", :src => "/img/amex.gif" }
          %li
            %img{ :alt => "Acard", :src => "/img/acard.gif" }
          %li
            %img{ :alt => "Tarjeta Naranja", :src => "/img/tnaranja.gif" }
        %p.verPlanes
          %small
            %a{ :href => "#" }
              Ver todos los planes de cuotas
        %p.compraProtegida
          %small
            Tu compra esta protegida hasta $900
            %sup
              00
            con
            %a{ :href => "#" }
              MercadoPago
      %dt
        Ubicacion:
      %dd
        Buenos Aires (Banfield)
      %dt
        Vendidos:
      %dd
        = @item.bids_count
    %form.formComprar{ :method => "get", :action => "" }
      %input.btn_nivel1{ :type => "button", :value => "Comprar" }
    #reputacion
      %h2
        Conoce al vendedor
      %dl
        %dt
          Reputacion:
        %dd
          %p.termometro.rep3
            %span.valorReputacion
              3
            \/5
          %p.repDescrip
            Vendedor ocasional.
          %a{ :href => "#" }
            %small
              Mas informacion
%ul.menuPublicacion
  %li.primerLi
    %a{ :href => "javascript:mailPopUp();" }
      Enviar a un amigo
  %li
    %a{ :href => "#" }
      Hacer una pregunta al vendedor
  %li
    %a{ :href => "#" }
      Denunciar publicacion
  %li
    Publicacion #57952660
