.tabs.conteConsultas
  %form{ :action => "" }
    %label.selected
      %input#preguntas{ :name => "tabsNavVendedor", :type => "radio", :checked => "checked" }
      %span
        =t 'questions.questions_to_seller'
    %input{ :type => "submit", :value => "ver" }
  %ul.listaConsultas
    - for question in @questions  
      %li
        %dl.contPreguntas
          %dt
            %span.titulo
              %b
                =t 'questions.question'
          %dd.txt
            %span
              = question.question
            %small.link
              %a{ :href => "#" }
                = t 'questions.denounce'
        %dl.contRespuestas
          %dt
            %span.titulo
              %b
                =t 'questions.answer'
            %small.fecha
              = l question.question_dt, :format => :short
          %dd.txt
            %span
              = question.answer
            %small.link
              %a{ :href => "#" }
                = t 'questions.denounce'
  %form.clear.contactarConsultas{ :action => "", :method => "get" }
    %input.ofertar{ :type => "submit", :value => "Contactar al vendedor" }
