#boxgral
  %span.tith2
    = t :preferencia_pago
  %div{ :style => "margin-left: 10px;" }
    .titles2
      = t :texto_pago
    - for paymentMethod in @paymentMethods
      %div{ :style => "margin-left: 10px;" }
        \-
        = paymentMethod.name
        %img{ :src => paymentMethod.logo }
    %div
      %br
      %table{ :cellpadding => "0", :cellspacing => "0", :width => "100%" }
        %tbody
          %tr
            %td
              #boxmpmedios
                #mpOpen2
                  #mptoptitle
                    %a{ :href => "/jm/ml.faqs.portalFaqs.FaqsController?axn=verFaq&amp;faqId=3797&amp;categId=MP", :target => "_blank" }
                      %img{ :src => "http://img.mlstatic.com/org-img/vip3/mpagotitle.gif", :border => "0" }
                .mediosBox
                  %img{ :src => "http://img.mlstatic.com/org-img/vip3/mcard/mcards_mla.gif" }
                  %img{ :src => "http://img.mlstatic.com/org-img/vip3/mcard/med_ar_296x23.gif" }
                  %div{ :style => "margin: 5px 0pt; color: rgb(18, 121, 40); font-size: 11px;" }
                    = t :texto_cuotas
                    \.
                  %div{ :style => "margin-top: 8px;" }
                    %img{ :src => "http://www.mercadolibre.com/org-img/vip3/ep/ppc17x17.gif", :align => "absmiddle", :height => "17", :width => "17" }
                    %a{ :target => "_blank", :href => "http://www.mercadopago.com/argentina/ml/p_loadhtml?as_menu=M06S03&amp;as_html_code=PROTECCION_COMP02" }
                      = t :tucompra
                    = t :hasta, :valor => 6000
                    %span.decimales
                      00
    %br
    .dashedgreyline
    .titles2
      = t :texto_envio
    - for shipMethod in @shipMethods
      %div{ :style => "margin-left: 10px;" }
        \-
        = shipMethod.description
    %br
    %div
