- content_for :title do
  = @item.title


#vip  
  = javascript_include_tag 'vip'
  = javascript_include_tag 'jquery.min'
  /= stylesheet_link_tag 'vip'
  
  = render :partial => 'item_header'
  = render :partial => 'top_tabs'
  = render :partial => 'ship_payment_methods'
  = render :partial => 'questions'
= render :partial => 'education'
/= render :partial => 'items_seller'
%script{ :type => "text/javascript" }
  arr = ['http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_2330.jpg&v=M', 'http://www.mercadolibre.com.ar/jm/img?s=MLA&f=69593925_9582.jpg&v=M', 'http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_266.jpg&v=M', 'http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_2330.jpg&v=M', 'http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_9415.jpg&v=M', 'http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_266.jpg&v=M', 'http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_9415.jpg&v=M', 'http://www.mercadolibre.com.ar/jm/img?s=MLA&f=54593618_2330.jpg&v=M'];
%script{ :type => "text/javascript", :src => "assets/galeria.js" }
