#footer_cont
  .footer_reng
  .footer_reng
    %a{ :href => "http://www.mercadolibre.com.ar/argentina/ml/org_theme.p_main?as_theme_id=NEW_SOBRE_ML" }
      = t :sobre_ml
    |
    %a{ :href => "http://www.mercadolibre.com.ar/sitemap.html" }
      = t :mapa
    |
    %a{ :href => "http://www.mercadolibre.com.ar/seguro_home.html" }
      = t :politicas
    |
    %a{ :href => "http://www.mercadolibre.com.ar/argentina/ml/p_loadhtml?as_menu=CSEG&amp;as_html_code=CSEG01" }
      = t :centro
    |
    %a{ :href => "http://www.mercadopago.com/argentina/ml/p_loadhtml?as_menu=M06S03&amp;as_html_code=PROTECCION_COMPRADOR" }
      = t :programa
    |
    %a{ :href => "http://opinion.mercadolibre.com.ar" }
      = t :opiniones
  .footer_reng{ :align => "center" }
    %b
      = t :argentina
    |
    %a{ :href => "http://www.mercadolivre.com.br" }
      = t :brasil
    |
    %a{ :href => "http://www.mercadolibre.com.co" }
      = t :colombia
    |
    %a{ :href => "http://www.mercadolibre.co.cr" }
      = t :costarica
    |
    %a{ :href => "http://www.mercadolibre.cl" }
      = t :chile
    |
    %a{ :href => "/jm/ml.track.me?k1=FOOT&amp;k2=EBAY&amp;go=http://www.ebay.com/" }
      = t :ebay
    |
    %a{ :href => "http://www.mercadolibre.com.ec" }
      = t :ecuador
    |
    %a{ :href => "http://www.mercadolibre.com.mx" }
      = t :mexico
    |
    %a{ :href => "http://www.mercadolibre.com.pa" }
      = t :panama
    |
    %a{ :href => "http://www.mercadolibre.com.pe" }
      = t :peru
    |
    %a{ :href => "http://www.mercadolibre.com.do" }
      = t :repdominicana
    |
    %a{ :href => "http://www.mercadolibre.com.uy" }
      = t :uruguay
    |
    %a{ :href => "http://www.mercadolibre.com.ve" }
      = t :venezuela
  #footer_fin
    El uso de este sitio web implica la aceptaci&oacute;n de los
    %a{ :target => "_blank", :href => "http://www.mercadolibre.com.ar/seguro_terminos.html" }
      T&eacute;rminos y Condiciones
    y de las
    %a{ :href => "http://www.mercadolibre.com.ar/org-img/html/MLA/seguro_privacidad.html" }
      Pol&iacute;ticas de Privacidad
    de MercadoLibre S.A.
    %br
    Copyright &copy; 1999-2010 MercadoLibre S.A.
