<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <%= render :partial => "common/header" %>
  <body>
	<center>
		<div id="containall">
			<%= render :partial => "common/ml_menu" %>
			<%= yield %>
			<%= render :partial => "common/footer" %>
			<br/><br/>
		</div>
	</center>
	<center>gen: <%=t('app.render_time') % ((Time.now - @stamp)*1000)   %></center>
  </body>  
</html>
